@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Primary Colors */
    --primary-background: #183ec2;
    --primary-foreground: #ffffff;
    --primary-light: #eaeefe;
    --primary-dark: #0c2a8a;

    /* Secondary Colors */
    --secondary-background: #ffffff;
    --secondary-foreground: #000000;
    --secondary-light: #f7f7f7;
    --secondary-dark: #222222;

    /* Accent Colors */
    --accent-color: #dd7dff;
    --accent-foreground: #ffffff;
    --accent-light: #e9a6ff;
    --accent-dark: #b14fcc;

    /* Border Colors */
    --border-primary: #000000;
    --border-secondary: #eff0f6;
    --border-light: #22222219;
    --border-dark: #666666;

    /* Text Colors */
    --text-primary: #000000;
    --text-secondary: #010d3e;
    --text-muted: #6e6b8f;
    --text-light: #bcbcbc;
  }
}

@layer utilities {
  /* Background Color Utilities */
  .bg-primary {
    background-color: var(--primary-background);
  }

  .bg-primary-light {
    background-color: var(--primary-light);
  }

  .bg-primary-dark {
    background-color: var(--primary-dark);
  }

  .bg-secondary {
    background-color: var(--secondary-background);
  }

  .bg-secondary-light {
    background-color: var(--secondary-light);
  }

  .bg-secondary-dark {
    background-color: var(--secondary-dark);
  }

  .bg-accent {
    background-color: var(--accent-color);
  }

  .bg-accent-light {
    background-color: var(--accent-light);
  }

  .bg-accent-dark {
    background-color: var(--accent-dark);
  }

  /* Text Color Utilities */
  .text-primary {
    color: var(--text-primary);
  }

  .text-secondary {
    color: var(--text-secondary);
  }

  .text-muted {
    color: var(--text-muted);
  }

  .text-light {
    color: var(--text-light);
  }

  /* Border Color Utilities */
  .border-primary {
    border-color: var(--border-primary);
  }

  .border-secondary {
    border-color: var(--border-secondary);
  }

  .border-light {
    border-color: var(--border-light);
  }

  .border-dark {
    border-color: var(--border-dark);
  }
}